<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    
    <listeners>
     <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       <listener class-name="page.factory.helper.CustomFailureListener"></listener>
        <listener class-name="page.factory.helper.ExtentReporterNG"></listener>
          <listener class-name="com.test.reports.TestNGCustomReportListener" />
  </listeners>
  <test name="Simplilearn">
    <classes>
      <class name="test.TestNavigation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
